*{
  /*width: 970px;*/




}

#wrapper{

  background-color: #265174;

}
#logo{
  width:290px;

  margin: 0px;
  display:inline-block;
  text-align:left;
  vertical-align:left;
  padding-right:350px;

}

#header{
  width:970px;
  margin-top:5px;
  background-color: #265174;
  display:inline-block;

  vertical-align: top;

}
#search_section{

  padding: 10px 20px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
  margin-bottom: 10px;

}
#search_bar{

  background-color:	#444444;
  border-radius: 10px;
  display:inline-block;
  margin-top:15px;
  margin: auto 15px;
  padding:10px 15px;
  box-shadow: 3px 3px 3px #000000;
}
#go_button{
display:inline-block;
}

#nav_bar ul{
  border:10px;
  border-radius:10px;
  background-color:#4780A7;
  list-style-type: none;
  text-align: center;
  padding:10px;
  display:block;
  margin: 0 100px;
  box-shadow: 3px 3px 3px #000000;



}
#nav_bar_list li{
  padding:0px 10px;
  display:inline;
  color: white;

}
#main_body{

}

#side_menu{

}

#yellow_list{

}

#sub_body{

 }

 #getting_started{

 }

 #getting_started_list{

 }

 #application{

 }

 #applications_list{

 }

 #footer{

 }
