<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  {% with messages = get_flashed_messages() %}
    {%if messages%}
      {%for message in messages %}
        <p style="color:red;">{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
    <fieldset>
      <legend>Register</legend>
      <form action = "/register" method = "POST">
        <input type="text" name="first_name" placeholder="First Name"/>
        <input type="text" name="last_name" placeholder="Last Name" />
        <input type="text" name="email" placeholder="Email"/>
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="confirm_password" placeholder="Confirm Password"/>
        <input type= "submit" value="Sign up" />
      </form>
    </fieldset>
    <fieldset>
      <legend>Login</legend>
      <form action = "/login" method = "POST">
        <input type="text" name="email" placeholder="Email"/>
        <input type="password" name="password" placeholder="Password"/>
        <input type= "submit" value="Sign in" />

      </form>
    </fieldset>

  </body>
</html>
