
<div class="main">
<h6>MainComponent</h6>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed neque arcu. Alidn cas tu sefgur snasl eget.
  Suspendisse a posuere orci, vel porttitor purus. Aliquam venenatis, dui maximus pretium malesuada, tortor quam consectetur felis, eget sollicitudin velit dui ut massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.Pellentesque porta non libero sit amet sagittis. Aliquam rutrum sit amet ante a commodo. Duis at bibendum massa, et tempus risus.
</p>

</div>
