<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <fieldset>
      <legend>
        <h1>Ninja Gold</h1>
      </legend>
      <div style="margin-left:15px; display:inline-block;">
        <h4 >Your Gold: <span style="border:1px solid black; padding:5px;">{{request.session.gold}}</span></h4>
      </div>
      <div class="4 Places to find gold" align="center" style="margin: 20px; ">


        <div class="Farm" style="text-align: center; border:1px solid black; display:inline-block;padding: 40px; margin: 20px;">
          <form action="/process_money" method="POST">
            {% csrf_token %}
            <h4>Farm</h4>
            <p>(earns 10-20 golds)</p>
            <input type="hidden" name="location" value="Farm" />
            <input type= "submit" value="Find Gold!"  />
          </form>

        </div>

        <div class="Cave" style="text-align: center; border:1px solid black; display:inline-block;padding: 40px; margin: 20px;">
          <form action="/process_money" method="POST">
            {% csrf_token %}
            <h4>Cave</h4>
            <p>(earns 5-10 golds)</p>
            <input type="hidden" name="location" value="Cave" />
            <input type= "submit" value="Find Gold!"  />
          </form>
        </div>

        <div class="House" style="text-align: center; border:1px solid black; display:inline-block;padding: 40px; margin: 20px;">
          <form action="/process_money" method="POST">
            {% csrf_token %}
            <h4>House</h4>
            <p>(earns 2-5 golds)</p>
            <input type="hidden" name="location" value="House" />
            <input type= "submit" value="Find Gold!"  />
          </form>
        </div>

        <div class="Casino" style="text-align: center; border:1px solid black; display:inline-block;padding: 40px; margin: 20px;">
          <form action="/process_money" method="POST">
            {% csrf_token %}
            <h4>Casino</h4>
            <p>(earns -50-50 golds)</p>
            <input type="hidden" name="location" value="Casino" />
            <input type= "submit" value="Find Gold!"  />
          </form>
        </div>
      </div>
      <div align="center">

        <fieldset style="display:inline-block; padding: 20px 100px;">
          <legend>
            <h3>Activities</h3>
          </legend>

          {% for item in request.session.activity %}
          <p style="margin-bottom:5px;">
            {{item}}
          </p>
          {% endfor  %}

        <a href="/clearSession" style="border: 1px solid blue; padding: 5px; text-decoration: none; margin: 20px;">
          RESTART MY GOLD!
        </a>
        
        </fieldset>
      </div>


    </fieldset>

  </body>
</html>
