<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dojo Secrets</title>
  </head>
  <body>
    <h3>Hello, {{request.session.logged_user_name}}!</h3>
    <form action='/post' method = "post">
      {% csrf_token %}
      <textarea rows="4" cols="50" placeholder ="Your secret here..." name="content"></textarea>
    </br>
      <input type= "submit" value="Post" style="padding:5px 15px;background:#ccc;border:0 none;cursor:pointer;-webkit-border-radius: 5px;border-radius: 5px;" />
      <a href="/popular_secrets" style="margin-left:150px;">Most Popular Secrets</a>
    </form>
  </br>
    <h2>Recent Secrets...</h2>

    {% for secret in secrets %}

      <p>{{secret.content}}(when the secret was posted){{secret.created_at}}{{secret.likes}}
        <form action="/process_like/<{{secret.id}}>" method='post'>
          <input type="submit" name="like" value="Like" />
        </p>
        </form>

    {% endfor %}

  </body>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
  <a href='/'>Log Out</a>
</html>
