<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Disappearing Ninjas</title>
  </head>
  <body>
    <h1>No Ninjas Here!</h1>
    <p>
      ...would you like to see some
    </p>
    <ul>
      <li>
        <a href="/ninjas">The Team</a>
      </li>
      <li>
        <a href="/ninjas/blue">Leonardo</a>
      </li>
      <li>
        <a href="/ninjas/red">Raphael</a>
      </li>
      <li>
        <a href="/ninjas/orange">Michelangelo</a>
      </li>
      <li>
        <a href="/ninjas/purple">Donatello</a>
      </li>
      <li>
        <a href="/ninjas/notApril">April</a>
      </li>
    </ul>
  </body>
</html>
