<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books</title>
  </head>
  <body>
    <table align="center"style="width:50%; border:1px solid black;">
      <tr style="border-bottom:1px solid black;">
        <th>id</th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
      </tr>
      {% for book in books %}
        <tr align="center">
          <td>{{book.id}}</td>
          <td>{{book.title}}</td>
          <td>{{book.author}}</td>
          <td>{{book.category}}</td>
        </tr>
      {% endfor %}

    </table>
    <h1 align="center">Add a Book</h1>
    <form action="/process" method= "post" align="center">
      {% csrf_token %}
      Title:
      <input type="text" name= "title" placeholder="Title" />
      Category:
      <input type="text" name= "category" placeholder="Category" />
      Author:
      <input type="text" name= "author" placeholder="Author" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
