<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Welcome to Quoting Dojo!</h1>
    <form action='/quotes' method='post'>
      Your name: <input type="text" name="name" />
      Your quote: <textarea columns=40 rows=8 name="quote"> </textarea>
      <input type="submit" value="Add my quote!" />
    </form><br />
    <button><a href='/quotes'>Skip to quotes!</a></button>

  </body>
</html>
