<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </title></title>
  </head>
  <body>
    <H1>DSFSDCSDCSDV</H1>
    <h1> {{title}} </h1>

    <div [ngStyle] = " {'background-color': colors[a]} " class="box"></div>
    <div [ngStyle] = " {'background-color': colors[b]} " class="box"></div>
    <div [ngStyle] = " {'background-color': colors[c]} " class="box"></div>
    <div [ngStyle] = " {'background-color': colors[d]} " class="box"></div>
    <div [ngStyle] = " {'background-color': colors[e]} " class="box"></div>
    <div [ngStyle] = " {'background-color': colors[f]} " class="box"></div>
    <div [ngStyle] = " {'background-color': colors[g]} " class="box"></div>
    <div [ngStyle] = " {'background-color': colors[h]} " class="box"></div>
    <div [ngStyle] = " {'background-color': colors[i]} " class="box"></div>
    <div [ngStyle] = " {'background-color': colors[j]} " class="box"></div>
    <div [ngStyle] = " {'background-color': colors[k]} " class="box"></div>

  </body>
</html>
