<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>No Ninjas </title>
  </head>
  <body>
    <h1>No Ninjas Here!</h1>

      <h3>
        To see the ninjas, click any of the links below
      </h3>

    <ul>

      <li><a href="/ninja">All Ninjas</a></li>
      <li><a href="/ninja/blue">Leonardo</a></li>
      <li><a href="/ninja/red">Raphael</a></li>
      <li><a href="/ninja/orange">Michelangelo</a></li>
      <li><a href="/ninja/purple">Donatello</a></li>
    </ul>
  </body>
</html>
